body {
    background-color: #F2EAD0;
    padding: 0;
    margin: 0;
}
header {
    background-color: #402124;
    padding: 5px 0;
    display:flex;
    align-content: center;
    justify-content: center;
    font-family: 'Glegoo', serif;
}

header img {
    width: 100px;
    height: auto;
    position: relative;
    top:10px;
}

.headings {
    display:flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 3rem;
    margin: 0 0 0 17px;
    color: #F2EAD0;
	
}
h2 {
    color: #402124;
    font-size: 2rem;
    text-align: center;
}
h3 {
    color: #F2EAD0;
    font-size: 2rem;
    text-align: center;

}
.m {
    font-style: italic;
    letter-spacing: 1pt;
    color: #a5a5a5;
    margin-left: 20px;
    font-size: .9rem;
}
.contentbox{
   display: block; 
   margin: 5px auto;
   border: 1px #ffffff;
   padding: 15px;
   background-color: #402124;
   color:white;
   font-style: italic;
   max-width: 1000px;
}
.contentbox img {
	width: 925px;
    height: 390px;
}
.fifcation{
    position: relative;
}
.weathersummary {
	position:absolute;
	border: 1px dashed #94A6A4;
	background-color: #D9D0D6;
    box-shadow: 0 0 30px #402124;
    opacity: .8;
	color: #402124;
	font-size: 11px;
    top: 240px;
    left: 270px;
    width: 250px;
    height: 320px;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 4px;
}
#forecast-section {
    position: relative;
    left: 250px;
    margin: auto;
    display: flex;
    flex-direction: row;
    max-width: 1000px;
}
.contentboxforecast {
    padding:10px;
    text-align: center;

}
.forcast-days{
   padding-bottom:5px;
   margin:3px;
}
div{
    padding:5px;
}
#sun-icon{
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
  }
.contentboxarticle{
    padding:15px;
    text-align: left; 
    font-size: 0.7rem;
    background-color: #A65656;
    margin: 10px;
} 
.contentboxarticle img{
    width: 300px;
    height: 250px;
    float: left;
    padding: 0.5rem;
    margin: 4px;

}
p {
    padding: 0;
	letter-spacing: 0.1rem;
	line-height: 2;
    color: white;
    justify-content: center;
}
.contact iframe {
    width: 400px;
    height: 300px;
    float: left;
    padding: 10px;
    margin: 4px;
}
h4 {
    font-size: 1rem;
    text-align: center}
.btn {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #A65656;
    overflow: hidden;
    position: relative;
    left:200px;
  }
  
  .btn i {
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
  }

  .btn:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #A65656;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  
  .btn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }
  
  @keyframes aaa {
    0% {
      left: -110%;
      top: 90%;
    }
    50% {
      left: 10%;
      top: -30%;
    }
    100% {
      top: -10%;
      left: -10%;
    }
  }

main, footer {
    font-family: 'Glegoo', serif;
}
header,
main,
footer {
	max-width: 960px;
    margin: 0 auto;
}
/* Small/Phone View ***************/
nav {
	margin: 0 auto;
	max-width: 960px;
	background-color: #A65656;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
}
.navigation a:hover {
	color: white;
	background-color: #A65656;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}
footer {
    padding: 2rem;
    height: 20px;
    color: white;
    text-align: center;
    background-color: #402124;
    max-width: 960px;
    margin: 0 auto;

}
#currentdate {color:#A65656;
    
}
@media only screen and (min-width:700px) {
	.headings h1 {
		font-size: 3rem;
	}
	.m {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
	}
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}




