@charset "utf-8";
*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body{
   margin: 0px;
   background-image: url("/images/tiny/aqp-t.png");
   padding: 0px;
}
/*resposnive menu*/
.menu {
  background-color: #402124;
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F2EAD0;
  box-shadow: 5px 0 10px #8C7B46;
}
.menu_items {
  display: flex;
  list-style: none;
  margin-right: 30px;

}
.menu_items li {
  border-radius: 3px;
  margin:0 5px;
}

.menu_items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display:block;
  text-transform: uppercase;
  color: #F2EAD0;
  }

.menu_items li:hover, li :active {
  background-color:#A65656;
  transition: 4s;
}
.btn_menu {
  margin-right: 30px;
  font-size:25px;
  color: white;
  cursor: pointer;
  display: none;
}
ul.show {
  top: 65px;
}

form {
    display: table;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: #402124;
    background-color: #F2EAD0;
    padding: 10px;
    position: abolute;
    top: 30%;
}

div.form-group {
    display: table-row;
   
}

label, input {
    display: table-cell;
    margin-bottom: 10px;  
}

label {
    padding-right: 10px;
    width: 100px;
    margin-left: 100px;
    margin-right: 100px;     
    
}
.alert {
    align-items:center;
	justify-content:center;
	text-align: center;
    padding: 20px 0;
	display: flexbox;
    color:#F2EAD0;
}
.btn  {
    padding: 50px 0;
    border-radius: 20px;
    padding: 10px 50px;
    margin: 10px;
    text-decoration: none;
    width: 200px;
    margin-left: 450px;
    margin-right: 100px;
    color:#592525;
    box-shadow: 0 0 30px #A65656;
    
	}

}
header,
main,
footer {
	width: 100px;

}
footer {
  padding: 3rem;
  height: 20px;
  color: white;
  text-align: center;
  background-color: #402124;
  width:100%;
}
#currentdate {color:#A65656;